.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    font-size: .9rem;
    margin: 5px
}

.operation {
    background: orange;
    color: white;
}
.function {
    background: whitesmoke;
    color: black;
}
.number {
    background: gray;
    color: white;
}