.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: .9rem;
    margin: 0 6px 6px 6px;
    border: none;
}
.button.double {
   grid-column: span 2;
}

.operation {
    background: orange;
    color: white;
}
.function {
    background: whitesmoke;
    color: black;
}
.number {
    background: gray;
    color: white;
}